/* 네비게이션 바 */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px 0;
}

.nav-content {
  width: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  margin-left: 30px;
  position: relative;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.nav-link:hover {
  color: #0073e6;
  text-decoration: underline;
  padding-bottom: 5px;
}

/* 드롭다운 메뉴 */
.dropdown-menu,
.myinfo-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  z-index: 1000;
  padding: 10px 0;
  width: 2000px; /* 메뉴가 펼쳐질 가로 너비 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: -300px; /* 우측에 맞추기 위한 마진 */
}

/* 드롭다운 아이템 */
.dropdown-item,
.myinfo-item {
  list-style: none;
  margin-bottom: 10px;
  text-align: right;
  margin-right: 300px;
}

.dropdown-item a,
.myinfo-item a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}

.dropdown-item a:hover,
.myinfo-item a:hover {
  color: #0073e6;
}
